@font-face {
  font-family: Brandon;
  src: url("src/fonts/brandon-grotesque.otf");
}

@font-face {
  font-family: Brandon L;
  src: url("src/fonts/brandon-grotesque-light.otf");
}

@keyframes upEffect{
  0%{
    transform: translateY(1em);
  }
 
  100%{
    transform: translateY(0em);
  }
}

$black-font: #1d1d1d;

.up-effect{
  animation: upEffect 300ms ease-in-out forwards;
}

// ----------------
body {
  color: $black-font;
  font-family: Brandon;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: $black-font;
  text-underline-offset: 5px;
  transition: border-color .15s ease-out, color .15s ease-out;

  &:hover {
    color: rgba(29, 29, 29, .6);
  }
}

header {
  // background: lightcoral;
  height: 100px;
  padding: 38px 118px 38px 118px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1em;
  letter-spacing: 0.1em;

  div img {
    max-width: 130px;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    display: inline-block;
    margin: 0 14px;
    position: relative;
  }

  nav ul li ul {
    background: $black-font;
    color: #fff;
    width: 250px;
    text-align: left;
    padding: 10px;
    position: absolute;
    top: 2em;
    left: 0;
    display: none;
  }

  nav ul li ul a{
    color: #fff;

    &:hover{
      color: grey;
    }
  }

  
  .shortfilms:hover{
    ul{
      display: block;
    }
  }

  .technology:hover{
    ul{
      display: block;
    }
  }

  .careers:hover{
    ul{
      display: block;
    }
  }

  .extras:hover{
    ul{
      display: block;
    }
  }

  .about:hover{
    ul{
      display: block;
    }
  }

  
}

.hero {
  background-image: url("src/img/lightyear-hero.jpg");
  background-size: cover;
  padding: 250px;
}

.content {
  // background: lightgreen;
  letter-spacing: 0.2em;
  padding: 150px 142px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    display: inline-block;
  }

  img {
    width: 500px;
    padding: 17px 0;
  }

  p {
    text-align: center;
    padding: 17px;
  }
}

footer {
  // background: lightseagreen;
  font-family: Brandon L;
  font-size: 0.9em;
  text-align: center;
  padding-bottom: 60px;
  letter-spacing: 0.2em;

  ul {
    padding: 20px 0;
    display: inline-block;

    &:hover {
      li svg {
        color: rgb(179, 179, 179);
        transition: border-color .35s ease-out, color .25s ease-out;
      }
    }

    li {
      display: inline-block;
      margin: 0 5px;

      svg:hover {
        color: $black-font;
        cursor: pointer;
      }
    }
  }

  .links {
    margin-bottom: 14px;
    padding-top: 20px;

    a {
      text-decoration: underline;
    }
  }
}